/* Fondo general */
body{
    background-color: rgb(0, 22, 88);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-top: 80px;
}



/* Titulo */
h1{
    font-size: 40px;
    margin-bottom: 40px;
    text-shadow: 0px 0px 10px #00eaff;
}

/* Barra de número */
#BarraNumero{
    width: 250px;
    padding: 12px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    outline: none;
    text-align: center;
    margin-bottom: 20px;
}

/* Botones */
button{
    padding: 12px 20px;
    margin: 10px;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

/* Botón intentar */
#enviar{
    background-color: rgb(0, 153, 255);
}

#enviar:hover{
    background-color: rgb(0, 120, 200);
}

/* Botón reiniciar */
#reiniciar{
    background-color: rgb(255, 85, 0);
}

#reiniciar:hover{
    background-color: rgb(200, 60, 0);
}


